---
layout: default
---
<ul class="posts">
{% for post in site.posts %}
  <li><span><h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</span> &mdash; {{ post.date | date_to_string }}</a></h3>
  <p>
      {% if post.content contains '<!--more-->' %}
    {{ post.content | split:'<!--more-->' | first }}<a href="{{ site.url }}{{ post.url }}"><h5>&hellip;More</h5></a>
  {% else %}
    {{ post.excerpt }}
      {% capture content_words %} 
        {{ post.content | number_of_words }} 
      {% endcapture %} 
      {% capture excerpt_words %} 
        {{ post.excerpt | number_of_words }} 
      {% endcapture %}
      {% if excerpt_words != content_words %}
        <p><a href="{{ site.url }}{{ post.url }}"><h5>&hellip;More</h5></a></p>
      {% endif %}
  {% endif %}
    </p></li>
  {% endfor %}
</ul>


