<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {% include fb-opengraph.html %}
    {% include twitter-card.html %}
    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1144883565583225";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <body>
  <div id="fb-root"></div>

    <div class="wrapper">
      <header>
	<a href="{{ site.url }}"><h1>{{ site.title }}</h1></a>
        <p>{{ site.description }}</p>


        <p class="view"><a href="{{ site.url }}/archive/">Archive</a></br>
        <a href="{{ site.url }}/contact/">Contact</a></br>
        <a href="{{ site.url }}/colophon/">Colophon</a></br>
        <a href="{{ site.url }}/disclaimer/">Disclaimer</a></p>
        <a href="http://www.facebook.com/streetlevel65"><img src="{{site.url}}/assets/Icon-Facebook.png" width="30px" height="30px"></a>&nbsp;  
        <a href="http://twitter.com/streetlevel65"><img src="{{site.url}}/assets/Icon-Twitter.png" width="30px" height="30px"></a>&nbsp;
        <a href="https://www.linkedin.com/in/street-level-67937911b"><img src="{{site.url}}/assets/Icon-LinkedIn.png" width="30px" height="30px"></a>&nbsp;  
        <a href="{{ site.url }}/atom.xml"><img src="{{site.url}}/assets/Icon-Feeds.png" width="30px" height="30px"></a></p>
        <p><div
  		class="fb-like"
		data-share="false"
  		data-href="https://www.facebook.com/streetlevel65"
  		data-layout="standard" 
  		data-size="small" 
  		data-action="like"
  		data-width="450"
  		data-show-faces="true">
	</div></p>
      </header>
      <section>
        <h3>
<a id="{{ page.title }}" class="anchor" href="#{{ page.title }}" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>{{ page.title }}</h3>

<p>{{ content }}</p>
      </section>
      <footer>
        <p><small>Made in Singapore &mdash; © 2017 {{ site.title }}.</a></small></p>
      </footer>
    </div>
    <script src="{{ site.url }}/javascripts/scale.fix.js"></script>
    {% include analytics.html %}
  </body>
</html>
