---
layout: default
---
<p class="view">{{ page.date | date_to_long_string }}</p>
<div class="post">
  {{ content }}
  <div class="fb-page" data-href="https://www.facebook.com/streetlevel65/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/streetlevel65/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/streetlevel65/">Street Level</a></blockquote></div>
  {% include fb-comments.html %}
</div>
